.clipboards-Area {
  inset: 0;
  border: none;
  background-color: transparent;
  text-align: center;
  font-size: 24px;
  color: #fffc;
  resize: none;
  transition: 0.3s;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #888;
  }

  &.empty {
    opacity: 0.4;
  }

  &.long {
    font-size: 18px;
  }
}
