.clipboards-Clipboard {
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color: #51e5ff44;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .name {
    color: #51e5ff;
    text-align: center;
  }

  .area {
    margin-left: 20px;
    margin-right: 20px;
    flex: 1;
  }
}
