.clipboards-Paging {
  height: calc(8px + 10px + 8px);
  display: flex;
  justify-content: center;
  align-items: center;

  .dot {
    padding: 15px 8px;

    &::after {
      display: block;
      width: 10px;
      height: 3px;
      background-color: #51e5ff;
      content: "";
      transition: 0.3s;
    }

    &.active {
      &::after {
        height: 10px;
        border-radius: 50%;
      }
    }
  }
}
